<section class="container search">
  <form class="navbar-form" role="search">
    <div class="form-group">
      <input type="text" name="search" value="<%= @search %>" class="form-control" placeholder="By dish, ingredient, source, whatevs   ¯\_(ツ)_/¯">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="reset"  class="btn btn-warning"
            onclick="window.location.href='/recipes'">Reset</button>
  </form>
</section>

<section class="container recipes">
  <h3><img src="images/chef-u.png"/> is currently under construction, be we do have a few delicious recipes for you to chew on...</h3>
    <div class="list-group">
      <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <a href="recipes/<%= recipe.id %>" class="list-group-item">
            <article class="row">
              <div class="col-xs-12">
                <h3><%= recipe.name %></h3>
              </div>
            </article>  
            <article class="row">
              <div class="col-xs-12">
                <img class="middle" width=200px src="/images/<%= recipe.image_file %>"/>
              </div> 
            </article>  
            <article class="row">
              <div class="col-xs-5">
                <dl class="dl-horizontal">
                  <dt>Category: <%= recipe.category %></dt>
                  <dt>Rating: </dt>
                  <% if recipe.rating[0].to_s.include?("available") %>
                    <dd><%= "no rating available" %></dd>
                  <% else %>
                    <dd><%= "#{recipe.rating[0]} out of #{recipe.rating[1]} #{recipe.rating[2]}" %></dd>
                  <% end %>   
                </dl>
              </div> 
              <div class="col-xs-7">
                <dl class="dl-horizontal">
                  <dt>Time Required:</dt>
                  <% recipe.cooking_time.each do |key, value| %>
                    <dd><%= "#{key.to_s.capitalize}: #{value.to_s} mins" %></dd>
                  <% end %>  
                </dl>
              </div>
            </article>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</section>      
      